// @import "../../node_modules/tether/dist/css/tether.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

body {
	font-family: 'Roboto', sans-serif;
}

.navbar-brand
{
	background-image: url(/img/kobe-logo.svg);
	text-indent: -9999px;
	background-size: cover;
	width: 200px;
	height: 68px;		
}

#header
{
	background-image: url(/img/kobe-h-header.jpg);
	background-size: cover;
	padding-top: 20px;
	min-height: 803px;
	padding-bottom: 20px;
}

#header h2 {
	color: #ffffff;
	margin-top: 20px;
	font-size: 2.9rem;
	font-weight: 300;
}

#header h2 strong
{
	font-weight: 700;
	font-size: 3.1rem;
}

#header .row{
	color: #ffffff;
	font-size: 17px;
}

nav a
{
	color: #F5F7F8 !important;
}

nav a:hover, .dropdown-toggle::after
{
	color: #4CB2BF !important;
}

nav .active a
{
	color: #4CB2BF !important;
	font-weight: 700 !important;
}

.dropdown-menu
{
	background-color: #165577
}

nav a.dropdown-item
{
	color: #ffffff;
}

.gobtndown
{
	display: block;
	width: 44px;
	height: 44px;
	background-image: url(/img/button-icon.svg);
	transform: rotate(90deg);
}

.gobtn
{
	display: block;
	width: 44px;
	height: 44px;
	background-image: url(/img/button-icon.svg);
}

.gobtn.sml
{
	width: 30px;
	height: 30px;
}

.navbar .navbar-toggler
{
	position: absolute;
    right: 0px;
    background-color: #ffffff;
    top: 90px;
	z-index: 100;
}

.xdiv
{
    background-image: url(/img/x.svg);
    margin-top: -350px;
    padding-top: 350px;
    background-position-x: right;
    height: 1000px;
    background-repeat: no-repeat;
	z-index: -1;
}

.kobelead
{
	font-size: 2rem;
	font-weight: 300;
}

.kobelead strong
{
	font-weight: 900;
}

.servicecategories img
{
	width: 80px;
}

.servicecategories .h1
{
	margin-top: 40px;
	margin-bottom: 30px;
}

.servicecategories  > div
{
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 60px;
}

.servicecategories .gobtn
{
	display: inline;
	position: absolute;
    bottom: 5px;
	margin-left: -16px;
}

#whoweworkwith
{
	background-color: rgba(242, 245, 247, 0.75); 
	padding-top: 40px; 
	padding-bottom: 40px; 
	margin-top: 40px
}

.mt-10 {
    margin-top: 6rem !important;
}

.centerStackedItems
{
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	flex-wrap: wrap;
}

.kobeGreyBlurb
{
	color: #878A8B;	
}

.kobeGreyBlurb p:first-child
{
	padding-left: 380px !important;
	font-size: 18px;
	font-style: italic;
}

.kobeGreyBlurb p:nth-child(2)
{
padding-left: 200px !important;
}

@media (max-width: 321px)
{
	#header h2 strong
	{
		margin-bottom: 20px;
		display: block;
	}	
	
	.servicecategories  > div
	{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 60px;
	}	
}

@media (min-width: 360px)
{
	.navbar .navbar-toggler
	{
		position: absolute;
		right: 0px;
		background-color: #ffffff;
		top: 30px;
		z-index: 100;
	}
}

@media (min-width: 768px)
{
	.navbar-brand
	{
		width: 300px;
		height: 40px;
	}
}

@media (min-width: 991px)
{
	.navbar-brand
	{
		width: 400px;
		height: 100px;
	}
}

@media (min-width: 768px)
{
	#header{
		border-radius: 0px 4px 100% 0px;
		border-bottom: #26AEBB;
		border-bottom-width: 20px;
		border-bottom-style: solid;
		overflow: hidden;	
	}

	#header h2
	{
		font-size: 3.2rem;
		margin-top: 70px;
	}
	
	.navbar-toggleable-sm .navbar-nav .nav-link
	{
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

@media (min-width: 1440px)
{
	.container
	{
	width: 1440px;
	}
}

